body{
    font-family: sans-serif;
    margin:0;     
  overflow-x: hidden;
  height: 100%;

}

footer {
    background-color: orange;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3rem;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
}

.topnav {
    background-color: orange;
    overflow: hidden;
    width:100%;
    left:0;
    position: fixed;
  }
  .topnav a[disabled], a[disabled]:hover {
    pointer-events: none;
    color: orange;
 }
  .topnav a, .topnav span {
    
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav span {
      font-weight: 600;
      float:left
  }
  .topnav a{
    float: right;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: orange;
  }
  
  .topnav a.active {
    background-color: black;
    color: white;
  }


/** loader **/
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }
  .spinner-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .circle-border {
    width: 5rem;
    height: 5rem;
    top:50%;
    left:50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(105, 48, 1);
    background: linear-gradient(0deg, rgba(245, 152, 32, 0.1) 33%, orange 100%);
    animation: spin .8s linear 0s infinite;
  }
  .circle-core {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: white;
  }  
/***/
#emptyelement .spinner-box .circle-border .circle-core{
  width: 0.7rem;
  height: 0.7rem;
}
#emptyelement .spinner-box .circle-border{
  width: 1rem;
  height: 1rem;
  top:unset;
  position: absolute;
}
.user-detail{
  margin-top:5rem;
}
#content{
  overflow-y:auto;
  height: calc(100% - 5rem)!important;
}
ul{
  padding:0;
  margin-top:3.1rem;
}

li{
  list-style: none;
  background: #bbbbbb17;
  width: 100%;
  height: 4rem;
  padding: 1rem 0 0.1rem 2rem;
  margin: 0.5em 0;
}

.news-title{
   font-size: 18px;
   font-weight: 600;
}

a,span{
  text-decoration: none;
  color: darkgrey;
  font-size: 14px;
}


/*** Form ***/

div.form
{
    margin: 3rem 0 0 0;
    display: block;
    text-align: center;
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
form button{
    width: 100%;
    height: 1.8rem;
    font-weight: 700;
    background: orange;
    border: none;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}
.form a{
    margin-left: 20%;
}

/****/

.page-not-found{
    align-items: center;
    text-align: center;
    margin: 3em;
    font-size: 18px;
    font-weight: 600;
    color: dimgrey;
}